<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en">

    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bug Triaging</title>
        <!-- Load Roboto font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="static/css/pluton.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="static/css/jquery.cslider.css" />
        <link rel="stylesheet" type="text/css" href="static/css/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="static/css/animate.css" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="static/images/ico/favicon.ico">
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#clients">Data</a></li>
                            <li><a href="#insights">Insights</a></li>
                            <li><a href="#modeling">Modeling</a></li>
                            <li><a href="#price">Results</a></li>
                            <li><a href="#contact">Demo</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Bug Triaging</h2>
                        <h4>Lucie Klimosova</h4>
                        <p><br/>
                        Hundreds of bug reports for large software projects are created daily.<br/>
                        Many of them contain incomplete, wrong or duplicate information.<br/>
                        Bug reporters as well as developers would benefit from "smarter" bug reporting system.</p>
                        <a href="http://github.com/lucieklimosova/bugs" target="new" class="da-link button">GitHub Repo</a>
                        <a style="left:300px;" href="https://www.linkedin.com/in/lucieklimosova" target="new" class="da-link button">LinkedIn Profile</a>
                    </div>
                    <!-- End first slide -->
                </div>
            </div>
        </div>
        <!-- End home section -->

        <!-- Client section start -->
        <div id="clients">
            <div class="section primary-section">
                <div class="triangle"></div>
                <div class="container">
                    <div class="title">
                        <h1>Data</h1>
                        <p>The Eclipse and Mozilla defect tracking <a href="https://github.com/ansymo/msr2013-bug_dataset" target="new">dataset</a>... <a href="#ref4">[4]</a><!-- Lamkanfi, Pérez and Demeyer--></p>
                    </div>
                    <p class="testimonial-text-small">
                        Mozilla subset (mostly Firefox, Thunderbird, Mozilla projects).<br/>
                        Almost 400,000 bug reports resolved between 1998 and 2013.<br/>
                        Additional information obtained from <a href="https://wiki.mozilla.org/Bugzilla:REST_API" target="new">Bugzilla API</a> - full description, id of duplicate.<br/>
                    </p>
                    <p></p>
                    <div class="row">
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Assigning severity to bug reports is highly dependent on the expertise of the bug reporters. Novice bug reporter might find it difficult to decide the right severity level."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong><!--Tian, Lo and Sun-->
                                        <small>Information retrieval for fine-grained bug severity prediction...
                                        <a href="#ref1">[1]</a></small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Correct prioritization of bugs helps in bug fix scheduling/assignment and resource allocation. Failure of this will result in delay of resolving important bugs."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong><!--Sharma, Bedi, Chaturvedi and Singh-->
                                        <small>Predicting the priority of a reported bug...
                                        <a href="#ref2">[2]</a></small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Users can, and often do, submit reports describing the same problem. The result is an added workload on the software maintenance engineers who have to ensure that each report is assigned a correct status."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong><!--Banerjee, Cukic and Adjeroh-->
                                        <small>Automated duplicate bug report classification...
                                        <a href="#ref3">[3]</a></small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Client section end -->

        <!-- Weird section start -->
        <div class="section secondary-section" id="insights">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Insights</h1>
                    <p>There are many areas for improvement.</p>
                </div>
                <p class="testimonial-text-small" style="color:black; line-height:150%;">

                72% of severity normal, 8% changes over the lifetime.<br/>
                98% of priority empty, only 9% filled in over the lifetime.<br/>
                Similar change rate applies to product, component and version.<br/>
                The bug is assigned to many developers during the lifetime.<br/>
                </br/>
                26% bug reports end up being closed as duplicates.<br/>
                <br/>
                I have focused on predicting severity and priority and detecting duplicates.
                </p>
            </div>
        </div>
        <!-- Weird section end -->

        <!-- Service section start -->
        <div class="section primary-section" id="modeling">
            <div class="triangle"></div>
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>Modeling</h1>
                    <!-- Section's title goes here -->
                    <p>Default values (normal severity, empty priority) treated as unlabeled.</p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="static/images/Service2.png" alt="service 1">
                            </div>
                            <h3>Severity</h3>
                            <p>
                                TfIdf on short descritption<br/>
                                TfIdf on long description<br/>
                                Gradient Boosting on other features<br/>
                                Linear stacking of results
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="static/images/Service2.png" alt="service 2" />
                            </div>
                            <h3>Priority</h3>
                            <p>
                                TfIdf on short descritption<br/>
                                TfIdf on long description<br/>
                                Gradient Boosting on other features<br/>
                                Linear stacking of results
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="static/images/Service3.png" alt="service 3">
                            </div>
                            <h3>Duplicates</h3>
                            <p>
                                Problem on pairs of observations</br>
                                Return duplicate high in the search<br/>
                                Similarity of description and product<br/>
                                (Experimented with LSH, doc2vec)<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->

<!--
        <div class="section secondary-section " id="portfolio">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                    <h1>Insights</h1>
                    <p>Looking at Mozilla data, we can confirm the assumptions.</p>
                </div>

                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="static/images/Portfolio01.png" alt="project 1" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.</p>
                            </div>
                        </div>
                    </div>

                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="static/images/Portfolio02.png" alt="project 2">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Life is a song - sing it. Life is a game - play it. Life is a challenge - meet it. Life is a dream - realize it. Life is a sacrifice - offer it. Life is love - enjoy it.</p>
                            </div>
                        </div>
                    </div>

                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="static/images/Portfolio03.png" alt="project 3">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>How far you go in life depends on your being tender with the young, compassionate with the aged, sympathetic with the striving and tolerant of the weak and strong. Because someday in your life you will have been all of these.</p>
                            </div>
                        </div>
                    </div>

                    <ul id="portfolio-grid" class="thumbnails row">
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="static/images/Portfolio01.png" alt="project 1">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Graph / image 1</h3>
                                <p>Caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="static/images/Portfolio02.png" alt="project 2">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Graph / image 2</h3>
                                <p>Caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="static/images/Portfolio03.png" alt="project 3">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Graph / image 3</h3>
                                <p>Caption...</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Possibly another section</h1>
                    <p>Making a random point</p>
                </div>
                <div class="about-text centered">
                    <h3>With a header</h3>
                    <p>And bunch of text explainng more detail...</p>
                </div>

            </div>
        </div>
-->
        <!-- Price section start -->
        <div id="price" class="section secondary-section">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Results</h1>
                    <p>Better than or comparable with previously published research. <a href="#ref1">[1]</a><a href="#ref5">[5]</a><a href="#ref6">[6]</a></p>
                </div>
                <div class="price-table row-fluid">
                    <div class="span4 price-column">
                        <h3>Severity</h3>
                        <ul class="list">
                            <li>accuracy: <strong>68%</strong></li>
                            <li>off by 1 accuracy: <strong>93%</strong></li>
                        </ul>
                    </div>
                    <div class="span4 price-column">
                        <h3>Priority</h3>
                        <ul class="list">
                            <li>accuracy: <strong>58%</strong></li>
                            <li>off by 1 accuracy: <strong>87%</strong></li>
                        </ul>
                    </div>
                    <div class="span4 price-column">
                        <h3>Duplicates</h3>
                        <ul class="list">
                            <li>top 3: <strong>10%</strong></li>
                            <li>top 10: <strong>15%</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price section end -->

        <!-- Contact section start -->
        <div class="section primary-section" id="contact">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Demo</h1>
                    <p>An example of how it could work.</p>
                </div>
            </div>
            <div class="map-wrapper">
                <div class="container">
                    <div class="row-fluid">
                        <!-- Bug report form start -->
                        <div class="span5 contact-form centered">
                            <h3>Bug Report</h3>
                            <div id="successSend" class="alert alert-success invisible">
                                <strong>Thanks!</strong>The bug has been reported.</div>
                            <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                            <form id="contact-form" onsubmit="return false;">
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="short_desc" value="Floating parent issue" placeholder="Title" />
                                        <div class="error left-align" id="err-name">Please enter short description.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <textarea class="span12" name="desc" placeholder="Description">Updates to div also updates the parents when they are floated.</textarea>
                                        <div class="error left-align" id="err-comment">Please enter description</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="product" value="Firefox" placeholder="Product (Firefox, Thunderbird, Bugzilla...)" />
                                        <div class="error left-align" id="err-name">Please enter product.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="component" value="untriaged" placeholder="Component" />
                                        <div class="error left-align" id="err-name">Please enter component.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="op_sys" value="Windows XP" placeholder="Operating system"/>
                                        <div class="error left-align" id="err-name">Please enter operating system.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="assignee" value="" placeholder="Assignee"/>
                                        <div class="error left-align" id="err-name">Please enter assignee.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input class="span12" type="text" name="cc" value="me@email.com" placeholder="Cc" />
                                        <div class="error left-align" id="err-name">Please enter cc.</div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button id="send-mail" class="message-btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Bug report form end -->

                        <div style="margin-left:500px;">
                            <span id='model_result'>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact section end -->

        <!-- Weird section start -->
        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered" style="text-align: left; font-size: 13px;">
                <span id="ref1">[1] Tian, Y., Lo, D. and Sun, C., 2012, October. Information retrieval based nearest neighbor classification for fine-grained bug severity prediction. In 2012 19th Working Conference on Reverse Engineering (pp. 215-224). IEEE.</span><br/>

                <span id="ref2">[2] Sharma, M., Bedi, P., Chaturvedi, K.K. and Singh, V.B., 2012, November. Predicting the priority of a reported bug using machine learning techniques and cross project validation. In 2012 12th International Conference on Intelligent Systems Design and Applications (ISDA) (pp. 539-545). IEEE.</span><br/>

                <span id="ref3">[3] Banerjee, S., Cukic, B. and Adjeroh, D., 2012, October. Automated duplicate bug report classification using subsequence matching. In High-Assurance Systems Engineering (HASE), 2012 IEEE 14th International Symposium on (pp. 74-81). IEEE.</span><br/>

                <span id="ref4">[4] Lamkanfi, A., Pérez, J. and Demeyer, S., 2013, May. The eclipse and mozilla defect tracking dataset: a genuine dataset for mining bug information. In Proceedings of the 10th Working Conference on Mining Software Repositories (pp. 203-206). IEEE Press.</span><br/>

                <span id="ref5">[5] Lamkanfi, A., Demeyer, S., Giger, E. and Goethals, B., 2010, May. Predicting the severity of a reported bug. In 2010 7th IEEE Working Conference on Mining Software Repositories (MSR 2010) (pp. 1-10). IEEE.</span><br/>

                <span id="ref6">[6] Menzies, T. and Marcus, A., 2008, September. Automated severity assessment of software defect reports. In Software Maintenance, 2008. ICSM 2008. IEEE International Conference on (pp. 346-355). IEEE.</span>
            </div>
        </div>
        <!-- Weird section end -->

        <!-- Footer section start -->
        <div class="footer">
            <p>Lucie Klimosova
                <a href="https://linkedin.com">LinkedIn</a>,
                <a href="http://github.com">GitHub</a>,
                <a href="http://lucka.sifruje.cz">Website</a>
            </p>
        </div>
        <!-- Footer section end -->

        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->

        <!-- Include javascript -->
        <script src="static/js/jquery.js"></script>
        <script type="text/javascript" src="static/js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.js"></script>
        <script type="text/javascript" src="static/js/modernizr.custom.js"></script>
        <script type="text/javascript" src="static/js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="static/js/jquery.cslider.js"></script>
        <script type="text/javascript" src="static/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="static/js/jquery.inview.js"></script>
        <script type="text/javascript" src="static/js/process_bug.js"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="static/js/app.js"></script>
    </body>
</html>